<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<div class="homebanner">
    <img src="/Assets/images/homepage.jpg" alt="We care">
    <div class="banner-text">
        <h1>We Are Committed to Saving Lives</h1>
        <p>Our hospital is dedicated to providing the best care possible, no matter the cost.
            <p class="lead">
      <a class="btn btn-primary btn-lg" href="/bookslist    " role="button">Book an Appointment</a></p>
    </div>
</div>



<%- include Partials/footer.ejs%>